%table.data-table-gem
  %thead
    %tr
      %th Name
      %th Strength
      %th Agility
      %th Stamina
      %th Intellect
      %th Spirit
      %th Attack Power
      %th Critical
      %th Dodge
      %th.not-sortable

  %tbody
    = render equipments
