.row
  .large-12.columns
    = render 'equipment_table', equipments: @equipments

/ Comparison Section

.row.comparison-section
  .large-6.columns.first-item
    First Item
  .large-6.columns.second-item
    Second Item

