.row
  .large-12.columns
    = render 'equipment_table', equipments: @equipments

/ Comparison Section

.row.comparison-section
  .row
    .large-12.columns
      %h3.subheader.text-center Comparison
  .row
    .large-6.columns.first-item.text-center{'data-item' => ''}
    .large-6.columns.second-item.text-center{'data-item' => ''}

.row
  .large-2.columns
    %a.tiny.button.round.clear-items Clear
