.row
  .large-12.columns
    %table#my-table.display
      %thead
        %tr
          %th
            Name
          %th
            Category
          %th
            Price
      %tbody
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
        %tr
          %td
            foo
          %td
            foo
          %td
            foo
