%nav.top-bar
  %ul.title-area
    %li.name
      Armory
    %li.toggle-topbar.menu-icon
      %a
        %span
          Menu

  %section.top-bar-section
    %ul.right
      %li
        %a Test
       
